<section class="about_section container">
  <p class="section_subheader">?ךתמורת תוכזב הנשה השענ המ</p>
  <h2 class="section_header">םכתרזעב לועפל ךישמנ</h2>
  <ul>
    <li>
      <p>780+</p>
      <p>מענקי מחקר</p>
      <p>לרופאים וחוקרים</p>
    </li>
    <li>
      <p>672</p>
      <p>מענקי מחקר</p>
      <p>לרופאים וחוקרים</p>
    </li>
    <li>
      <p>400+</p>
      <p>מענקי מחקר</p>
      <p>לרופאים וחוקרים</p>
    </li>
    <li>
      <p>672</p>
      <p>מענקי מחקר</p>
      <p>לרופאים וחוקרים</p>
    </li>
    <li>
      <p>800</p>
      <p>מענקי מחקר</p>
      <p>לרופאים וחוקרים</p>
    </li>
  </ul>
  <button type>בזכות תרומתי</button>
</section>
