<section class="articles_section">
  <h2 class="section_header">כדאי לדעת</h2>
  <ul class="article_list">
    <li dir="rtl" class="article_card">
      <img
        class="article_image"
        src="./images/content_images/blue_ribbon.jpg"
        alt="blue ribbon"
      />
      <h3 class="article_title">והמ דשה ןטרס</h3>

      <p class="article_text">
        תופתתשהב דשה ןטרס לע ףיקמ עדימםוחתב םיחמומה בטימ
      </p>
      <a href="" class="article_link"
        >למידע נוסף
        <svg class="icon" width="14" height="10">
          <use href="./images/icons/icons.svg#icon-arrow_left"></use></svg
      ></a>
    </li>

    <li class="article_card">
      <img
        class="article_image"
        src="./images/content_images/virus.jpg"
        alt="virus"
      />
      <h3 class="article_title">והמ דשה ןטרס</h3>
      <p class="article_text">
        תופתתשהב דשה ןטרס לע ףיקמ עדימםוחתב םיחמומה בטימ
      </p>
      <a href="" class="article_link"
        >למידע נוסף
        <svg class="icon" width="14" height="10">
          <use href="./images/icons/icons.svg#icon-arrow_left"></use>
        </svg>
      </a>
    </li>

    <li class="article_card">
      <img
        class="article_image"
        src="./images/content_images/nerve_system.jpg"
        alt="nerve system"
      />
      <h3 class="article_title">והמ דשה ןטרס</h3>
      <p class="article_text">
        תופתתשהב דשה ןטרס לע ףיקמ עדימםוחתב םיחמומה בטימ
      </p>
      <a href="" class="article_link"
        >למידע נוסף
        <svg class="icon" width="14" height="10">
          <use href="./images/icons/icons.svg#icon-arrow_left"></use>
        </svg>
      </a>
    </li>

    <li class="article_card">
      <img
        class="article_image"
        src="./images/content_images/stomack.jpg"
        alt="stomack"
      />
      <h3 class="article_title">והמ דשה ןטרס</h3>
      <p class="article_text">
        תופתתשהב דשה ןטרס לע ףיקמ עדימםוחתב םיחמומה בטימ
      </p>
      <a href="" class="article_link"
        >למידע נוסף
        <svg class="icon" width="14" height="10">
          <use href="./images/icons/icons.svg#icon-arrow_left"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
