<section>
  <div class="container">
    <h3>ךרדה לכ ךרואל</h3>
    <h2>החפשמהמ קלח תויהל ואוב</h2>
    <div class="ellipses">
      <img
        src="./images//content_images/mother&daughter.png"
        alt="mother & daughter"
      />
    </div>
    <p>
      .ןטרס ילוחל הווקת איבהל לכונש השוריפ ךלש הנתמה .םעפ יאמ רתוי השקו הבוט
      ,המכח הרוצב ןטרסב םימחלנ ונחנא .ךתכימת לע הדות דחיב
    </p>
    <div>
      <button>לתרומה</button>
      <button>לתרומה</button>
    </div>
  </div>
</section>
