<section class="donate_section">
  <div class="flex">
    <p class="section_subheader">ךרדה לכ ךרואל</p>
    <h2 class="section_header" dir="rtl">החפשמהמ קלח תויהל ואוב</h2>

    <img
      class="donate_img"
      src="./images/content_images/mother_cropped.png"
      alt="mother & daughter"
    />
    <div class="text-wrapper">
      <p class="donate_text">
        .ןטרס ילוחל הווקת איבהל לכונש השוריפ ךלש הנתמה .םעפ יאמ רתוי השקו הבוט
        ,המכח הרוצב ןטרסב םימחלנ ונחנא .ךתכימת לע הדות דחיב
      </p>
      <div class="btn-wrap">
        <button class="donate_btn">לתרומה</button>
        <button class="donate_btn btn-white">להתנדבות</button>
      </div>
    </div>
  </div>
</section>
