<footer>
  <div class="footer_container">
    <div class="footer-bg">
      <div class="container">
        <div class="donate_form">
          <div>
            <p class="donate_form_subtitle">םיניינעב ראשהל</p>
            <label class="donate_form_title"
              >םינוכדע תלבקל רטלזוינל ומשריה</label
            >
          </div>
          <form class="donate_wrapper">
            <input class="donate_form_input" type="text" placeholder="אלמ םש" />
            <input class="donate_form_input" type="text" placeholder="אימייל" />
            <button type="button" class="donate_form_button" type="submit">
              להרשמה
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer_upper">
      <ul class="footer_flex container">
        <li>
          <h3 class="footer_title horisontal-line">מחלות סרטן</h3>
          <p class="section_subheader link"><a href="#">סרטן השד</a></p>
          <p class="section_subheader link"><a href="#"> סרטן המעי הגס </a></p>
          <p class="section_subheader link"><a href="#"> סרטן הערמונית </a></p>
          <p class="section_subheader link">
            <a href=""> ילדים ומתבגרים חולי סרטן </a>
          </p>
          <p class="section_subheader link"><a href=""> גידולי מוח </a></p>
        </li>
        <li>
          <h3 class="footer_title horisontal-line">מידע לחולים</h3>
          <p class="section_subheader link">
            <a href=""> מוקדי מידע ותמיכה </a>
          </p>
          <p class="section_subheader link"><a href=""> תרופות וטיפולים </a></p>
          <p class="section_subheader link">
            <a href=""> קבוצות ומרכזי תמיכה </a>
          </p>
          <p class="section_subheader link">
            <a href=""> מחקרים קלינים בישראל </a>
          </p>
          <p class="section_subheader link"><a href=""> התמודדות ושיקום </a></p>
        </li>
        <li>
          <h3 class="footer_title horisontal-line">גורמי סיכון</h3>
          <a class="section_subheader link">המאבק בעישון</a>
          <a class="section_subheader link">חכם בשמש</a>
          <a class="section_subheader link">תזונה ומשקל גוף תקין</a>
          <a class="section_subheader link">פעילות גופנית</a>
          <a class="section_subheader link">כללים לחיים בריאים</a>
        </li>
        <li>
          <h3 class="footer_title horisontal-line">יצירת קשר</h3>
          <a class="section_subheader link">המאבק בעישון</a>
          <a class="footer_number" href="tel:1800-599-995">1-800-599-995</a>
          <h3 class="footer_title horisontal-line">עקבו אחרינו</h3>
          <div class="logo_wrapper">
            <a href="">
              <svg class="footer_icon" width="32" height="32">
                <use href="./images/icons/icons.svg#icon-youtube"></use></svg
            ></a>
            <a href=""
              ><svg class="footer_icon" class="icon" width="32" height="32">
                <use href="./images/icons/icons.svg#icon-twitter"></use></svg
            ></a>
            <a href=""
              ><svg class="footer_icon" class="icon" width="32" height="32">
                <use href="./images/icons/icons.svg#icon-instagram"></use></svg
            ></a>
            <a href="">
              <svg class="footer_icon" class="icon" width="32" height="32">
                <use href="./images/icons/icons.svg#icon-facebook"></use></svg
            ></a>
          </div>
        </li>
        <li>
          <h3 style="margin-bottom: 15px" class="footer_title">
            התרומה שלכם חשובה להם
          </h3>
          <p class="section_subheader">
            בעזרת תרומתכם, נוכל להמשיך לחקור, לתקדם, להילחם ולרפא
          </p>

          <button class="btn btn-footer">לתרומה</button>
          <div class="logo_wrapper">
            <img
              width="78px"
              height="78px"
              class="footer_logo"
              src="./images/logos/footer_logo1.png"
              alt="logo"
            />
            <img
              width="82px"
              height="80px"
              class="footer_logo"
              src="./images/logos/footer_logo2.png"
              alt="logo"
            />
          </div>
        </li>
      </ul>
    </div>
    <div class="footer_down">
      <div class="container flex--footer">
        <div class="footer_down-group--right">
          <div>
            <p class="copyright">
              ינבל ,ןטרס ילוחל עדימ ,ןטרס תולחמ לע ,םדקומ ןוחבאו ןטרס תעינמ יכרד
              לע ןימאו ןכדועמ עדימ אוצמל ןתינ ןטרסב המחלמל הדוגאה רתאב.דועו
              םייעוצקמ םימורופ ,ןטרס ילוח תויוכז ,הכימת יזכרמ ,םילופיטו תופורת
              ,תודדומתה יכרד לע ,םימילחמלו םתחפשמ .םוחת לכב החמומ םע תוצעייתהל
              ףילחת וא תיעוצקמ תעד תווח ,תיאופר הצע רדגב םניאו דבלב עדימ קפסל
              ודעונ רתאב םיעיפומה םינכתה .תויטרפה תוינידמבו רתאב שומישה יאנתב
              ןייעל אנ
            </p>
            <div style="display: flex; align-items: center; font-size: 14px">
              ©כל הזכויות שמורות לאגודה למלחמה בסרטן בישראל
              <span dir="ltr"><pre>| 2022 </pre></span>
              <img
                class="copyright_logo"
                src="./images//logos//purple_logo.png"
                alt="purple logo"
              />
              <span dir="ltr">Powered By </span>
            </div>
          </div>
        </div>
        <div class="footer_down-group--left">
          <p class="footer_title">ךרד לכב ןטרסב םיקבאנ</p>
          <ul class="footer_down_list">
            <li class="flex">
              <div class="logo_wrapper">
                <svg width="74" height="74">
                  <use
                    href="./images/icons/themed_icons.svg#icon-eye_vector_white-min"
                  ></use>
                </svg>
              </div>
              <p>רקחמ</p>
            </li>
            <li class="flex">
              <div class="logo_wrapper">
                <img
                  src="./images/icons/footer_icons.svg"
                  width="72"
                  height="72"
                  style="max-width: initial"
                />
              </div>
              <p>מניעה ואבחון</p>
            </li>
            <li class="flex">
              <div class="logo_wrapper">
                <svg width="72" height="72">
                  <use
                    href="./images/icons/themed_icons.svg#icon-human_vector_white-min"
                  ></use>
                </svg>
              </div>
              <p>שיקום</p>
            </li>
            <li class="flex">
              <div class="logo_wrapper">
                <svg width="72" height="72">
                  <use
                    href="./images/icons/themed_icons.svg#icon-info_vector_white-min"
                  ></use>
                </svg>
              </div>
              <p>מידע מקצועי</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
