<section class="hero_section">
  <header dir="rtl" class="container">
    <div class="wrapper">
      <div class="header_logo">
        <img src="./images/logos/logo.png" alt="logo" />
      </div>
      <nav>
        <button>
          תפריט
          <svg class="icon" width="32" height="32">
            <use href="./images/icons/icons.svg#icon-expand_menu"></use>
          </svg>
        </button>
      </nav>
    </div>
    <div class="wrapper">
      <ul>
        <li>
          <a href="tel:1800-599-995"> 1800-599-995 </a> <span>צרו קשר </span>
        </li>
        <li>
          <div class="separator"></div>
        </li>
        <li>
          <button style="display: flex; flex-direction: column">
            <svg class="icon" width="32" height="32">
              <use href="./images/icons/icons.svg#icon-bell_fill"></use></svg
            >מה חדש
          </button>
          <button style="display: flex; flex-direction: column">
            <svg class="icon" width="32" height="32">
              <use href="./images/icons/icons.svg#icon-search"></use>
            </svg>
            חיפוש
          </button>
        </li>
        <li>
          <div class="separator"></div>
        </li>
        <li>
          <select name="lang" id="lang-select">
            <option value="he">HE</option>
          </select>
        </li>
        <li>
          <button>לתרומה</button>
        </li>
      </ul>
    </div>
  </header>
  <div class="hero_container">
    <div class="text_wrapper">
      <p>ךרד לכב ןטרסב םיקבאנ</p>
      <h1>שבוע המודעות למניעת סרטן העור ולגילוי מוקדם</h1>
      <a href="">
        <svg class="icon" width="32" height="32">
          <use href="./images/icons/icons.svg#icon-arrow_left"></use>
        </svg>
        למידע נוסף</a
      >
    </div>
    <form>
      <input type="text" placeholder="חיפוש... " /> // порядок!
      <button type="submit">חיפוש</button>
    </form>
  </div>
</section>
