<section class="help_section">
  <h2 class="section_header">איך נוכל לסייע לך?</h2>
  <ul class="help_section_card_list">
    <!-- FIRST -->
    <li class="help_section_card">
      <div class="card_picture_wrapper">
        <svg class="icon bg--icon" width="84" height="84">
          <use
            href="./images/icons/themed_icons.svg#icon-knot_vector-min"
          ></use>
        </svg>
        <div class="ellipse">
          <svg
            width="88"
            height="88"
            viewBox="0 0 88 88"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <ellipse
              fill="#D0C9FF"
              cx="44"
              cy="44"
              rx="33.1456"
              ry="51.7072"
              transform="rotate(45 44 44)"
            />
          </svg>
        </div>
      </div>
      <p class="section_subheader">ןטרס תולחמ</p>
    </li>
    <!-- SECOND -->
    <li class="help_section_card">
      <div class="card_picture_wrapper">
        <svg class="icon bg--icon" width="68" height="68">
          <use
            href="./images/icons/themed_icons.svg#icon-pencil_vector-min"
          ></use>
        </svg>
        <div class="ellipse">
          <svg
            width="88"
            height="88"
            viewBox="0 0 88 88"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <ellipse
              fill="#B3DEDB"
              cx="44"
              cy="44"
              rx="33.1456"
              ry="51.7072"
              transform="rotate(45 44 44)"
            />
          </svg>
        </div>
      </div>
      <p class="section_subheader">זכויות החולה</p>
    </li>
    <!-- THIRD -->
    <li class="help_section_card">
      <div class="card_picture_wrapper">
        <svg class="icon bg--icon bg-position" width="128" height="140">
          <use
            href="./images/icons/themed_icons.svg#icon-human_vector-min"
          ></use>
        </svg>
        <div class="ellipse">
          <svg
            width="88"
            height="88"
            viewBox="0 0 88 88"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <ellipse
              cx="44"
              cy="44"
              rx="33.1456"
              ry="51.7072"
              transform="rotate(45 44 44)"
            />
          </svg>
        </div>
      </div>
      <p class="section_subheader">שיקום ותמיכה</p>
    </li>
    <!-- FOURTH CARD -->
    <li class="help_section_card">
      <div class="card_picture_wrapper">
        <svg class="icon bg--icon" width="76" height="76">
          <use
            href="./images/icons/themed_icons.svg#icon-chat_vector-min"
          ></use>
        </svg>
        <div class="ellipse">
          <svg
            width="88"
            height="88"
            viewBox="0 0 88 88"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <ellipse
              fill=" #DED4B3"
              cx="44"
              cy="44"
              rx="33.1456"
              ry="51.7072"
              transform="rotate(45 44 44)"
            />
          </svg>
        </div>
      </div>
      <p class="section_subheader">התייעצות עם מומחים</p>
    </li>
    <!-- FIFTH CARD -->
    <li class="help_section_card">
      <div class="card_picture_wrapper">
        <svg class="icon bg--icon" width="64" height="64">
          <use
            href="./images/icons/themed_icons.svg#icon-house_vector-min"
          ></use>
        </svg>
        <div class="ellipse">
          <svg
            width="88"
            height="88"
            viewBox="0 0 88 88"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <ellipse
              fill="#B3CFDE"
              cx="44"
              cy="44"
              rx="33.1456"
              ry="51.7072"
              transform="rotate(45 44 44)"
            />
          </svg>
        </div>
      </div>
      <p class="section_subheader">מלונית לחולים</p>
    </li>
    <!-- SIXTH CARD -->
    <li class="help_section_card">
      <div class="card_picture_wrapper">
        <svg class="icon bg--icon" width="70" height="70">
          <use
            href="./images/icons/themed_icons.svg#icon-heart_vector-min"
          ></use>
        </svg>
        <div class="ellipse">
          <svg
            width="88"
            height="88"
            viewBox="0 0 88 88"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <ellipse
              fill="#DEB3B3"
              cx="44"
              cy="44"
              rx="33.1456"
              ry="51.7072"
              transform="rotate(45 44 44)"
            />
          </svg>
        </div>
      </div>
      <p class="section_subheader">מניעה וגורמי סיכון</p>
    </li>
    <!-- SEVENTH CARD -->
    <li class="help_section_card">
      <div class="card_picture_wrapper">
        <svg class="icon bg--icon" width="74" height="74">
          <use
            href="./images/icons/themed_icons.svg#icon-search_vector-min"
          ></use>
        </svg>
        <div class="ellipse">
          <svg
            width="88"
            height="88"
            viewBox="0 0 88 88"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <ellipse
              fill="#9CABE2"
              cx="44"
              cy="44"
              rx="33.1456"
              ry="51.7072"
              transform="rotate(45 44 44)"
            />
          </svg>
        </div>
      </div>
      <p class="section_subheader">אבחון מוקדם</p>
    </li>
    <!-- EIGHTH CARD -->
    <li class="help_section_card">
      <div class="card_picture_wrapper">
        <svg class="icon bg--icon" width="64" height="64">
          <use
            href="./images/icons/themed_icons.svg#icon-location_vector-min"
          ></use>
        </svg>
        <div class="ellipse">
          <svg
            width="88"
            height="88"
            viewBox="0 0 88 88"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <ellipse
              fill="#C9DEB3"
              cx="44"
              cy="44"
              rx="33.1456"
              ry="51.7072"
              transform="rotate(45 44 44)"
            />
          </svg>
        </div>
      </div>
      <p class="section_subheader">הסניף הקרוב</p>
    </li>
  </ul>
</section>
