<section>
  <h2 class="section_header">איך נוכל לסייע לך?</h2>
  <ul>
    <li class="card">
      <div class="card_picture_wrapper">
        <div class="ellipse"></div>
      </div>
      <p class="card_title">ןטרס תולחמ</p>
    </li>
    <li class="card">
      <div class="card_picture_wrapper"><div class="ellipse"></div></div>
      <p class="card_title">זכויות החולה</p>
    </li>
    <li class="card">
      <div class="card_picture_wrapper"><div class="ellipse"></div></div>
      <p class="card_title">שיקום ותמיכה</p>
    </li>
    <li class="card">
      <div class="card_picture_wrapper"><div class="ellipse"></div></div>
      <p class="card_title">התייעצות עם מומחים</p>
    </li>
    <li class="card">
      <div class="card_picture_wrapper"><div class="ellipse"></div></div>
      <p class="card_title">מלונית לחולים</p>
    </li>
    <li class="card">
      <div class="card_picture_wrapper"><div class="ellipse"></div></div>
      <p class="card_title">מניעה וגורמי סיכון</p>
    </li>
    <li class="card">
      <div class="card_picture_wrapper"><div class="ellipse"></div></div>
      <p class="card_title">אבחון מוקדם</p>
    </li>
    <li class="card">
      <div class="card_picture_wrapper"></div>
      <p class="card_title">הסניף הקרוב</p>
    </li>
  </ul>
</section>
