<section class="video_section">
  <div class="container">
    <div>
      <h2 class="section_header">סרטון הסבר</h2>
      <div class="video_player flex">
        <img
          class="video-image"
          src="./images/content_images/video.jpg"
          alt="video"
        />
        <div class="outer play--icon">
          <div class="inner">
            <svg width="32" height="32">
              <use href="./images/icons/icons.svg#icon-playback"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div>
      <form>
        <p>םיניינעב ראשהל</p>
        <label>םינוכדע תלבקל רטלזוינל ומשריה</label>
        <input type="text" placeholder="אלמ םש" />
        <input type="text" placeholder="אימייל" />
        <button type="submit">להרשמה</button>
      </form>
    </div>
  </div>
</section>
