<section class="container">
  <div class="container">
    <div>
      <h2>סרטון הסבר</h2>
      <div>
        <img src="./images/content_images/video.jpg" alt="video" />
        <svg class="icon" width="32" height="32">
          <use href="./images/icons/icons.svg#icon-playback"></use>
        </svg>
      </div>
    </div>

    <div>
      <form>
        <p>םיניינעב ראשהל</p>
        <label>םינוכדע תלבקל רטלזוינל ומשריה</label>
        <input type="text" placeholder="אלמ םש" />
        <input type="text" placeholder="אימייל" />
        <button type="submit">להרשמה</button>
      </form>
    </div>
  </div>
</section>
