.donate_section {
  display: flex;
  flex-direction: column;
  height: 770px;
  margin-top: 125px;
  text-align: center;

  & .text-wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 540;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;

    gap: 25px;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.donate_img {
  // width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.donate_text {
  display: block;
  font-weight: 400;
  font-size: 24px;
}

.donate_btn {
  width: 205px;
  height: 62px;
  border: 2.5px solid #f15b62;
  background-color: $accent-btn-color;
  box-shadow: (0px 4px 14px rgba(248, 173, 157, 0.4));
  border-radius: 51.046px;
  font-weight: 700;
  font-size: 24px;
  color: white;
  cursor: pointer;
  &:hover {
    color: black;
    background-color: white;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
  }
}
.btn-white {
  background-color: white;
  color: $accent-btn-color;
  margin-right: 15px;
  &:hover {
    color: black;
    background-color: $accent-btn-color;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
  }
}
