.footer-bg {
  background-image: url('../images/background/footer_bg.png');
  background-repeat: no-repeat;

  background-position: top;
  background-size: cover;
}

.footer_upper {
  height: 358px;
  padding-top: 56px;
  padding-bottom: 56px;
  // padding-right: 93px;
  // padding-left: 93px;

  background-color: rgba(99, 116, 208, 0.05);

  & .section_subheader {
    margin-bottom: 16px;
  }
}
.flex--footer {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  gap: 270px;

  align-items: center;
}

.footer_down {
  height: 185px;
  padding-right: 93px;
  padding-left: 93px;
  background-color: rgba(237, 238, 248, 1);

  gap: 234px;

  &-group--right {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-width: 50%;
  }
  &-group--left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    // width: 37%;

    & .footer_title {
      margin-bottom: 12px;
    }
  }
}
.footer_down_list {
  display: flex;
  text-align: center;
  gap: 18px;
}

.footer_flex {
  display: flex;
  gap: 30px;

  justify-content: space-between;
  align-items: flex-start;
  & li {
    flex-grow: 1;
  }

  & li:last-child {
    flex-grow: 2;
    max-width: 300px;
    margin-right: 50px;
  }
}

.footer_title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 33px;
}
.horisontal-line {
  position: relative;
}

.horisontal-line::after {
  content: '';
  position: absolute;
  width: 22px;
  height: 1px;
  border-top: 1px solid $accent-blue;
  right: 0;
  bottom: -20px;
}

.footer_number {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 20px;
  color: $accent-blue;
}

.btn-footer {
  width: 198px;
  margin-bottom: 21px;
}

.logo_wrapper {
  display: flex;
  gap: 10px;

  & .footer_icon {
    cursor: pointer;
    fill: $accent-blue;

    &:hover {
      fill: $accent-btn-color;
    }
  }

  & .footer_logo {
    width: 82px;
    height: 80px;
  }
}

.copyright {
  margin-bottom: 13px;
  font-weight: 300;
  font-size: 14px;

  &_logo {
    display: inline;
    height: 16px;
    margin-right: 4px;
    margin-left: 4px;
  }
}
