.video_section {
  margin-top: 124px;
}

.video_player {
  margin-top: 42px;
  position: relative;

  .video-image {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 540px;
  }
}

.play--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  right: 47%;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;

  &:hover .inner {
    background: $accent-btn-color;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
  }
}

.inner {
  padding-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 71px;
  height: 71px;
  top: 50%;
  right: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
}
.donate_form {
  height: 160px;
  margin-top: 124px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_title {
    font-weight: 700;
    font-size: 24px;
    color: $accent-blue;
  }

  &_subtitle {
    color: $accent-blue;
    font-weight: 400;
    font-size: 16px;
  }

  &_input {
    outline: none;
    width: 342px;
    height: 53px;
    padding: 16px 24px 16px 24px;
    background-color: white;
    border: 0.632166px solid #004990;
    border-radius: 40px;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
    }
  }
  &_button {
    cursor: pointer;
    color: $accent-blue;
    width: 192px;
    height: 48px;
    border: 1px solid $accent-blue;
    border-radius: 40px;
    background-color: transparent;

    &:hover {
      color: black;
      background-color: white;
      box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.27);
    }
  }
}

.donate_wrapper {
  display: flex;
  gap: 24px;
}

.video_container {
  padding-right: 93px;
  padding-left: 93px;
  background-image: url('../images/background/footer_bg.png');
  background-repeat: no-repeat;
  background-position: right bottom;
}
